header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    position: fixed;
    inset: 0;
    z-index: 1000; /* ensure on top */
    height: fit-content;
}

.header-center {
    background: var(--background);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);  /* Safari */
    box-shadow: var(--bubble-shadow);
    text-align: center;
    border-radius: 12px;
    padding: 1.5rem 1rem;
    width: 60%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.header-contact > button {
    background: var(--bg-contact);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);  /* Safari */
    box-shadow: var(--bubble-shadow);
    border-radius: 12px;
    padding: 1.5rem 2rem;
    font-size: 16px;
    transition: box-shadow 240ms ease, transform 160ms ease;
}

.header-contact > button:hover {
    outline: none;
    box-shadow: 0 8px 20px rgba(8,8,8,0.28), 
                0 0 24px rgba(255,255,255,0.06); 
}

.header-logo img {
    height: 130px;
}

header .group-left {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
}

header .group-left .revealer {
    background: transparent;
    border: none;
    padding: 0;
    display: none;
}

header .group-left .revealer img {
    height: 40px;
    width: 32px;
}

#burgerMenuBackdrop.hidden {
    display: none;
}

#burgerMenuBackdrop {
    position: fixed;
    z-index: 5;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(11, 11, 11, 1), rgba(11, 11, 11, 0)) ;
}

header .menu {
    position: absolute;
    height: fit-content;
    z-index: 10;
    width: 20rem;
    top: 120%;
    right: -10%;
    display: flex;
    flex-direction: column;
    background: var(--background);
    border-radius: 12px;
    padding: 1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);  /* Safari */
    box-shadow: var(--bubble-shadow);
}

header .menu a {
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    text-align: center;
}

header .menu.hidden {
    display: none;
}

@media (max-width: 1100px) {
    header {
        justify-content: space-between;
        padding: 0 5%;
    }

    .header-center {
        display: none;
    }

    header .group-left .revealer {
        display: block;
    }

    .header-contact > button {
        padding: 0.7rem 2rem;
        border-radius: 4px;
    }

    .header-logo img {
        height: 100px;
    }
}

@media (max-width: 380px) {
    .header-logo img {
        height: 70px;
    }
}