@font-face {
    font-family: "Kallisto";
    src: local('Kallisto'), url("Kallisto-Thin.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kallisto";
    src: local('Kallisto'), url("Kallisto-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Regular (400) */
@font-face {
    font-family: "Kallisto";
    src: local('Kallisto'), url("Kallisto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: "Kallisto";
    src: local('Kallisto'), url("Kallisto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kallisto";
    src: local('Kallisto'), url("Kallisto-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}